<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/share.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body  class="bg-lighter" style="background-color: burlywood;" >
<div class="container main my-5">
    <div class="row">
        <main class="col post">
            <div id="app">
                <div class="container gx-2">
                <div class="row gx-3  py-3">
                    <div class="col-md-4">
                    <div class="list-group" >
                        <a href="#" class="list-group-item list-group-item-action" :class="{'active': selectDrinksObj.name == item.name }"  v-for="item in products" :key="item.name" @Click.prevent="selectDrinks(item)">
                        <h6 class="card-title mb-1">{{item.name}}</h6>
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="mb-0"><small>{{item.engName}}</small></p>
                            <p class="mb-0"><small>{{item.price}}</small></p>
                        </div>
                        </a>
                    </div>
                    </div>
                    <div class="col-md-8">
                    <div class="card mb-2">
                        <div v-if="!selectDrinksObj.hasOwnProperty('name')" class="position-absolute text-white d-flex align-items-center justify-content-center" style="top: 0;bottom: 0;left: 0;right: 0;background-color: rgba(0, 0, 0, 0.65); z-index: 100;"  >請先選擇飲品</div>
                        <div class="card-body  px-4">
                        <div class="mb-3" >
                            <label for="productNum" class="form-label">數量</label>
                            <input type="number" class="form-control" id="productNum" placeholder="數量" min="0"
                            v-model="selectDrinksObj.count" >
                        </div>
                        <div class="mb-3">
                            <label for="productNum" class="form-label d-block">冰塊*</label>
                            <div class="form-check form-check-inline"
                            v-for="(ice,num) in iceType" :key="'ice'+num">
                            <input class="form-check-input" name="iceType" type="radio" 
                            :id="'ice'+num" v-model="selectDrinksObj.ice" :value="ice"
                            :disabled="!selectDrinksObj.hasOwnProperty('defaults') || (selectDrinksObj.defaults.ice !== '' && selectDrinksObj.defaults.ice !== ice)"                
                            >
                            <label class="form-check-label" :for="ice">{{ice}}</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="productNum" class="form-label d-block">甜度*</label>
                            <div class="form-check form-check-inline"
                            v-for="(sugar,num) in sugarType" :key="'sugar'+num" >
                            <input class="form-check-input" name="sugarType" type="radio" 
                            :id="'sugar'+num" v-model="selectDrinksObj.sugar" :value="sugar"
                            :disabled="!selectDrinksObj.hasOwnProperty('defaults') || (selectDrinksObj.defaults.sugar !== '' && selectDrinksObj.defaults.sugar !== sugar)" 
                            >
                            <label class="form-check-label" :for="sugar">{{sugar}}</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="productNum" class="form-label d-block">加料</label>
                            <div class="form-check form-check-inline"
                            v-for="(toppingg,num) in toppingsType" :key="'toppingg'+num">
                            <input class="form-check-input" type="checkbox" 
                            :id="'topping'+num" :Value="toppingg" v-model="selectDrinksObj.toppings" 
                            :id="'topping'+num" :Value="toppingg" v-model="selectDrinksObj.toppings" :disabled="!selectDrinksObj.hasOwnProperty('defaults') || selectDrinksObj.defaults.toppings.includes(toppingg)"
                            
                            >
                            <label class="form-check-label" :for="topping">{{toppingg}}</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="productNotice" class="form-label">備註</label>
                            <textarea class="form-control" id="productNotice" rows="2" v-model="selectDrinksObj.note"></textarea>
                        </div>
                        <div class="d-flex gap-2">
                            <button class="btn btn-outline-primary w-100" type="button" @Click="reset()">取消</button>
                            <button class="btn btn-primary w-100" type="button" @Click="addFooditems(selectDrinksObj)">加入</button>
                        </div>
                        </div>
                    </div>
                    <div class="card" v-if="addFooditemsobj.length > 0 ">
                        <div class="card-body Ordertable">
                        <table class="table ">
                            <thead>
                            <tr>
                                <th scope="col">品項</th>
                                <th scope="col">冰塊</th>
                                <th scope="col">甜度</th>
                                <th scope="col">加料</th>
                                <th scope="col">單價</th>
                                <th scope="col">數量</th>
                                <th scope="col">小計</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in addFooditemsobj" key="'item'+index">
                                
                                <th scope="row">{{item.name}}<br>
                                <small class="text-muted fw-normal">{{item.note}}</small>
                                </th>
                                <td>{{item.ice}}</td>
                                <td>{{item.sugar}}</td>
                                <td>{{item.toppings.toString()}}</td>
                                <td>{{item.price + item.toppings.length*10}}</td>
                                <td>{{item.count}}</td>
                                <td class="text-end">{{item.total}}</td>
                                <td><button type="button" class="btn btn-outline-danger" @Click="deleteFooditems(index)">刪除</button></td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="text-end">共 NT$ {{totalAll}} 元</p>
                        <button class="btn btn-sm btn-secondary w-100" @Click="Orderfn(addFooditemsobj,totalAll)">產生訂單</button>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="bg-light p-3 mt-3" v-if="Order.total > 0">
                <div class="bg-white p-3 d-flex flex-column" style="min-height: 450px;">
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">品項</th>
                            <th scope="col">冰塊</th>
                            <th scope="col">甜度</th>
                            <th scope="col">加料</th>
                            <th scope="col">單價</th>
                            <th scope="col">數量</th>
                            <th scope="col">小計</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in Order.Orderlist" :key="'Order'+index">
                            <th scope="row">{{item.name}}<br>
                                <small class="text-muted fw-normal">{{item.note}}</small>
                            </th>
                            <td>{{item.ice}}</td>
                            <td>{{item.sugar}}</td>
                            <td>{{item.toppings.toString()}}</td>
                            <td>{{item.price + item.toppings.length*10}}</td>
                            <td>{{item.count}}</td>
                            <td class="text-end">{{item.total}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="mt-3 mb-1">{{Order.time}}</p>
                    <p class="mb-1">餐點數： {{Order.total}}</p>
                    <p class="mb-1">付款狀態：未付款</p>
                    <p class="text-end mt-auto">共 NT$  {{Order.totalAll}} 元</p>
                </div>
                </div>
            </div>
        </main>
    </div>
</div>
    <script src="../js/vendor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
    <script>
    const App = {
        data() {
        return {
            selectDrinksObj:{},//選擇飲品
            addFooditemsobj:[], //新增飲品
            totalAll:0, //金額加總
            totalAllarr:[], //全金額
            Order:{
            time:'',
            total:0,
            totalAll:0,
            Orderlist:[]
            },
            iceType: ['正常冰', '少冰', '微冰', '去冰', '熱'],
            sugarType: ['全糖', '七分', '半糖', '三分', '無糖'],
            toppingsType: ['珍珠', '粉條', '小粉圓', '椰果', '芋頭'],
            products: [
            {
                name: '珍珠鮮奶茶',
                engName: 'Pearl Milk Tea',
                price: 60,
                defaults: {
                toppings: ['珍珠'],
                sugar: '',
                ice: '',
                }
            },
            {
                name: '椰果鮮奶茶',
                engName: 'Coconut Milk Tea',
                price: 60,
                defaults: {
                toppings: ['椰果'],
                sugar: '',
                ice: '',
                }
            },
            {
                name: '鮮奶茶',
                engName: 'Milk Tea',
                price: 50,
                defaults: {
                toppings: [''],
                sugar: '',
                ice: '',
                }
            },
            {
                name: '古意冬瓜茶 (糖固定)',
                engName: 'Winter Melon Drink',
                price: 30,
                defaults: {
                toppings: [''],
                sugar: '全糖',
                ice: '',
                }
            },
            {
                name: '蜜香紅茶',
                engName: 'Black Tea',
                price: 30,
                defaults: {
                toppings: [''],
                sugar: '',
                ice: '',
                }
            },
            {
                name: '包種青茶',
                engName: 'Black Tea',
                price: 35,
                defaults: {
                toppings: [''],
                sugar: '',
                ice: '',
                }
            },
            {
                name: '檸檬烏龍',
                engName: 'Lemon Oolong Tea',
                price: 55,
                defaults: {
                toppings: [''],
                sugar: '',
                ice: '',
                }
            },
            {
                name: '薑母茶 (熱飲)',
                engName: 'Ginger Tea',
                price: 55,
                defaults: {
                toppings: [''],
                sugar: '',
                ice: '熱',
                }
            },
            {
                name: '青草茶',
                engName: 'Herbal Tea',
                price: 35,
                defaults: {
                toppings: [''],
                sugar: '',
                ice: '',
                }
            },
            {
                name: '金桔檸檬',
                engName: 'Kumquat Lemonade',
                price: 40,
                defaults: {
                toppings: [''],
                sugar: '',
                ice: '',
                }
            },
            {
                name: '柳澄青茶',
                engName: 'Orange Mountain Tea',
                price: 45,
                defaults: {
                toppings: [''],
                sugar: '',
                ice: '',
                }
            },
            ],
        }
        },
        methods: {
        //重製
        reset() {
            this.selectDrinksObj = {};
            this.totalAllarr = [];
        },
    
        //選擇飲品
        selectDrinks(e){
            this.selectDrinksObj = {
            count : 1,
            ice: e.defaults.ice !== ''? e.defaults.ice : '正常冰',
            sugar:e.defaults.sugar !== ''? e.defaults.sugar : '全糖',
            toppings:[],
            note:'',
            ...e
            }
        },
    
        //加入選項
        addFooditems(e) {
            this.addFooditemsobj.push(Object.assign({},{
            ...e,
            total:(e.price + e.toppings.length*10) * e.count
            }));
            this.countTotal();
            this.reset();
        },
        deleteFooditems(e){
            this.addFooditemsobj.splice(e,1);
            console.log(this.addFooditemsobj);
        },
        //總價
        countTotal() {
            this.totalAll = 0;
            this.addFooditemsobj.forEach((item , key) => {
            this.totalAllarr.push(item.total);
            });
            for (let i = 1 ;i <= this.totalAllarr.length ; i++){
            this.totalAll += this.totalAllarr[i-1];
            };
        },
        //產生訂單
        Orderfn(e,totall){
            this.Order.time = new Date().toLocaleString();
            this.Order.total = e.length;
            this.Order.Orderlist = e;
            this.Order.totalAll = totall;
            this.addFooditemsobj = [];
            this.reset();
        },

        }
    };
    
    Vue.createApp(App).mount('#app');
    </script>
</body>
</html>